/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
    padding: 7px 10px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.hamburger:hover {
    opacity: 1
}

.hamburger-box {
    width: 18px;
    height: 12px;
    display: inline-block;
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    width: 18px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease
}

.hamburger-inner:after,
.hamburger-inner:before {
    content: "";
    display: block
}

.hamburger-inner:before {
    top: -5px
}

.hamburger-inner:after {
    bottom: -5px
}

.hamburger--slider .hamburger-inner {
    top: 1px
}

.hamburger--slider .hamburger-inner:before {
    top: 5px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s
}

.hamburger--slider .hamburger-inner:after {
    top: 10px
}

.hamburger--slider.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 5px, 0) rotate(45deg);
    transform: translate3d(0, 5px, 0) rotate(45deg)
}

.hamburger--slider.is-active .hamburger-inner:before {
    -webkit-transform: rotate(-45deg) translate3d(-2.57143px, -3px, 0);
    transform: rotate(-45deg) translate3d(-2.57143px, -3px, 0);
    opacity: 0
}

.hamburger--slider.is-active .hamburger-inner:after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-90deg);
    transform: translate3d(0, -10px, 0) rotate(-90deg)
}

footer {
    background-color: #2a2a29;
    height: 120px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (max-width:767px) {
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

footer a {
    display: inline-block;
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    font-size: 13px;
    letter-spacing: .03em;
    font-weight: 600;
    text-transform: uppercase;
    color: #c1beb7;
    padding: 0 12px 0 12px;
    text-decoration: none
}

footer a span {
    text-transform: none;
    font-style: italic
}

footer a:hover {
    text-decoration: underline
}

@media (max-width:767px) {
    footer a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px
    }
}

@media (min-width:768px) {
    footer a:nth-child(1n+2) {
        border-left: 1px solid #c1beb7
    }
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 106px;
    background-color: #2a2a29;
    z-index: 1;
    padding-top: 0
}

.root-retail .sticky-nav {
    background-color: #f5efe3
}

.root-retail .sticky-nav h1 {
    padding-top: 30px !important
}

@media (min-width:768px) {
    .root-wholesale .sticky-nav+* {
        padding-top: 100px
    }
}

@media (max-width:767px) {
    .sticky-nav {
        display: none
    }
}

nav.menu-nav {
    background-color: #2a2a29;
    width: 100%;
    z-index: 1;
    color: #c1beb7;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: 10px;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 2em
}

@media (max-width:767px) {
    nav.menu-nav {
        display: none
    }
}

.root-retail nav.menu-nav {
    background-color: #f5efe3
}

nav.menu-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px
}

nav.menu-nav ul li {
    margin: 0 6px;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    height: 18px
}

nav.menu-nav ul li:hover {
    color: #787367
}

nav.menu-nav ul li.active {
    color: #c52227
}

nav.menu-nav ul li.redirect {
    border-bottom: 1px solid #c1beb7
}

nav.menu-nav a {
    text-decoration: none;
    color: inherit
}

nav.menu-thumbs {
    background-color: #f5efe3
}

@media (min-width:768px) {
    nav.menu-thumbs {
        background-position: center center;
        background-repeat: repeat-y;
        background-color: #e6ddc7;
        background-attachment: fixed
    }
}

nav.menu-thumbs.basic ul li {
    background-color: #231f20;
    padding-bottom: 10px;
    border-color: #f5efe3;
    border-style: solid
}

@media (max-width:767px) {
    nav.menu-thumbs.basic ul li {
        border-bottom-width: 10px
    }
}

@media (min-width:768px) {
    nav.menu-thumbs.basic ul li:last-child:nth-child(3n+2) {
        margin-right: auto;
        margin-left: 12px
    }
}

nav.menu-thumbs.basic ul li figure figcaption {
    position: relative;
    opacity: 1;
    background-color: #231f20;
    color: white
}

nav.menu-thumbs.basic ul {
    padding-bottom: 0
}

nav.menu-thumbs ul {
    margin: 0 auto;
    padding: 12px 0;
    max-width: 905px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width:767px) {
    nav.menu-thumbs ul li {
        width: 100%
    }
}

@media (min-width:768px) {
    nav.menu-thumbs ul li {
        width: calc(33% - 5px);
        margin-bottom: 12px
    }
}

nav.menu-thumbs ul li figure {
    position: relative
}

nav.menu-thumbs ul li figure img {
    width: 100%;
    display: block
}

nav.menu-thumbs ul li figure figcaption {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 10%;
    background-color: rgba(245, 239, 227, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #231f20;
    text-align: center
}

nav.menu-thumbs ul li figure figcaption dt {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 27px;
    margin-bottom: 15px
}

nav.menu-thumbs ul li figure figcaption dd {
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    font-size: 13px
}

@media (min-width:768px) {
    nav.menu-thumbs ul li figure:hover figcaption {
        opacity: 1
    }
}

body.template-menu-group header+article,
body.template-menu article {
    text-align: center
}

@media (min-width:768px) {
    body.template-menu-group header+article .jarallax,
    body.template-menu article .jarallax {
        min-height: 450px
    }
}

body.template-menu-group header+article img.hero,
body.template-menu article img.hero {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

@media (max-width:767px) {
    body.template-menu-group header+article img.hero,
    body.template-menu article img.hero {
        max-height: 350px
    }
}

@media (min-width:768px) {
    body.template-menu-group header+article img.hero,
    body.template-menu article img.hero {
        max-height: 750px
    }
}

body.template-menu-group header+article h1,
body.template-menu article h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 44px;
    margin: 40px auto 30px auto;
    padding-bottom: 19px;
    position: relative
}

@media (max-width:767px) {
    body.template-menu-group header+article h1,
    body.template-menu article h1 {
        margin-bottom: 24px
    }
}

body.template-menu-group header+article h1:after,
body.template-menu article h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

body.template-menu article {
    background-color: #f5efe3
}

body.template-menu article div.description {
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    font-size: 18px;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 28px
}

body.template-menu article div.description p {
    margin-bottom: 35px
}

@media (min-width:768px) {
    body.template-menu-group div.menu-item-wrapper:nth-child(odd) .inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

@media (min-width:768px) {
    body.template-menu-item .details {
        margin-top: -20px
    }
}

.menu-item-wrapper {
    border-top: 5px solid #f5efe3;
    border-bottom: 5px solid #f5efe3
}

.menu-group-menu+.menu-item-wrapper,
.menu-item-wrapper:first-of-type {
    border-top: 10px solid #f5efe3;
    margin-top: -10px
}

@media (max-width:767px) {
    .menu-item-wrapper aside,
    body.template-menu-item aside {
        display: none
    }
}

.menu-item-wrapper aside h2,
body.template-menu-item aside h2 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 44px;
    margin: 0 auto 0 auto;
    padding-bottom: 19px;
    position: relative;
    text-align: center
}

@media (max-width:767px) {
    .menu-item-wrapper aside h2,
    body.template-menu-item aside h2 {
        margin-bottom: 24px
    }
}

.menu-item-wrapper aside h2:after,
body.template-menu-item aside h2:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

.menu-item-wrapper div.details,
body.template-menu-item div.details {
    background-color: #c7c1b5
}

.menu-item-wrapper div.details .inner,
body.template-menu-item div.details .inner {
    margin: 0 auto;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width:767px) {
    .menu-item-wrapper div.details .inner,
    body.template-menu-item div.details .inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .menu-item-wrapper div.details .inner article,
    .menu-item-wrapper div.details .inner figure,
    body.template-menu-item div.details .inner article,
    body.template-menu-item div.details .inner figure {
        width: 100%
    }
}

@media (min-width:768px) {
    .menu-item-wrapper div.details .inner,
    body.template-menu-item div.details .inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .menu-item-wrapper div.details .inner figure,
    body.template-menu-item div.details .inner figure {
        width: 70%
    }
    .menu-item-wrapper div.details .inner article,
    body.template-menu-item div.details .inner article {
        width: 30%
    }
}

.menu-item-wrapper div.details .inner figure,
body.template-menu-item div.details .inner figure {
    position: relative
}

.menu-item-wrapper div.details .inner figure img,
body.template-menu-item div.details .inner figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear
}

.menu-item-wrapper div.details .inner figure img:last-child,
body.template-menu-item div.details .inner figure img:last-child {
    display: block;
    position: relative;
    opacity: 1
}

.menu-item-wrapper div.details .inner figure img.active,
.menu-item-wrapper div.details .inner figure img:target,
body.template-menu-item div.details .inner figure img.active,
body.template-menu-item div.details .inner figure img:target {
    display: block;
    position: relative;
    opacity: 1
}

.menu-item-wrapper div.details .inner figure img.active~img,
.menu-item-wrapper div.details .inner figure img:target~img,
body.template-menu-item div.details .inner figure img.active~img,
body.template-menu-item div.details .inner figure img:target~img {
    opacity: 0;
    -webkit-transition: opacity 0;
    -o-transition: opacity 0;
    transition: opacity 0;
    position: absolute;
    z-index: -1
}

.menu-item-wrapper div.details .inner article,
body.template-menu-item div.details .inner article {
    padding: 22px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    font-size: 13px
}

@media (min-width:768px) {
    .menu-item-wrapper div.details .inner article,
    body.template-menu-item div.details .inner article {
        padding: 75px 22px 22px 22px;
        width: 310px
    }
}

.menu-item-wrapper div.details .inner article>div em,
body.template-menu-item div.details .inner article>div em {
    font-style: italic
}

.menu-item-wrapper div.details .inner article .ingredients p,
body.template-menu-item div.details .inner article .ingredients p {
    font-style: italic
}

.menu-item-wrapper div.details .inner article .ingredients p~p,
body.template-menu-item div.details .inner article .ingredients p~p {
    margin-top: 12px
}

.menu-item-wrapper div.details .inner article .varieties p a,
body.template-menu-item div.details .inner article .varieties p a {
    color: #231f20;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: 10px;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear
}

.menu-item-wrapper div.details .inner article .varieties p a:hover,
body.template-menu-item div.details .inner article .varieties p a:hover {
    color: #787367
}

.menu-item-wrapper div.details .inner article .varieties p a.active,
body.template-menu-item div.details .inner article .varieties p a.active {
    color: #c52227
}

.menu-item-wrapper div.details .inner article .varieties p span,
body.template-menu-item div.details .inner article .varieties p span {
    font-style: italic
}

.menu-item-wrapper div.details .inner article .description a,
body.template-menu-item div.details .inner article .description a {
    color: #a49f99;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: 10px;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    border-bottom: 1px solid #a49f99
}

.menu-item-wrapper div.details .inner article .description a:hover,
body.template-menu-item div.details .inner article .description a:hover {
    color: #787367
}

.menu-item-wrapper div.details .inner article .description a.active,
body.template-menu-item div.details .inner article .description a.active {
    color: #c52227
}

.menu-item-wrapper div.details .inner article .description>h2,
.menu-item-wrapper div.details .inner article>div>h3,
body.template-menu-item div.details .inner article .description>h2,
body.template-menu-item div.details .inner article>div>h3 {
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 700
}

.menu-item-wrapper div.details .inner article>h2,
body.template-menu-item div.details .inner article>h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: 10px
}

.menu-item-wrapper div.details .inner article>h2 a,
body.template-menu-item div.details .inner article>h2 a {
    color: #231f20;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear
}

.menu-item-wrapper div.details .inner article>h2 a:hover,
body.template-menu-item div.details .inner article>h2 a:hover {
    color: #787367
}

.menu-item-wrapper div.details .inner article>h1,
body.template-menu-item div.details .inner article>h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 30px;
    padding: 5px 0 17px 0;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.2em
}

.menu-item-wrapper div.details .inner article>h1:after,
body.template-menu-item div.details .inner article>h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 73px;
    height: 5px;
    left: 50%;
    margin-left: -36.5px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

.template-menu-group .menu-nav a {
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear
}

.template-menu-group .menu-nav a.active {
    color: #c52227
}

.template-menu-group .sticky-nav>h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 44px;
    margin: -14px auto 0 auto;
    padding-bottom: 19px;
    position: relative;
    text-align: center
}

@media (max-width:767px) {
    .template-menu-group .sticky-nav>h1 {
        margin-bottom: 24px
    }
}

.template-menu-group .sticky-nav>h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

.menu-group-menu {
    text-align: center
}

.menu-group-menu .menu-thumbs {
    margin-top: -10px
}

.menu-group-menu figure img {
    width: 100%
}

.menu-group-menu>h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: 10px;
    margin-top: 18px;
    margin-bottom: 10px
}

.menu-group-menu>h2 a {
    color: #a49f99;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear
}

.menu-group-menu>h2 a:hover {
    color: #787367
}

.menu-group-menu>h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 30px;
    padding: 5px 0 17px 0;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.2em
}

.menu-group-menu>h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 73px;
    height: 5px;
    left: 50%;
    margin-left: -36.5px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

.menu-group-menu article {
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    max-width: 550px;
    margin: 0 auto 25px auto;
    padding: 0 10px
}

.anchor {
    visibility: hidden;
    position: absolute;
    margin-top: -245px
}

.anchor.extra {
    margin-top: -205px
}

body.template-default figure.featured-image img {
    width: 100%
}

body.template-default article {
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    font-size: 18px;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 28px
}

body.template-default article p {
    margin-bottom: 15px
}

body.template-default article h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 44px;
    margin: 43px auto 24px auto;
    padding-bottom: 31px;
    position: relative;
    text-align: center
}

body.template-default article h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

body.template-default article aside {
    text-align: center;
    font-size: 13px;
    letter-spacing: .05em
}

body.template-default article aside em {
    font-style: italic
}

body.template-default article aside a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase
}

body.template-default article aside a:hover {
    color: #787367
}

body.template-side-by-side div.side-by-side-header {
    background-color: #fbecb8;
    padding-bottom: 30px
}

body.template-side-by-side div.side-by-side-header h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 44px;
    margin: 43px auto 24px auto;
    padding-bottom: 31px;
    position: relative;
    text-align: center
}

body.template-side-by-side div.side-by-side-header h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

body.template-side-by-side div.side-by-side-header aside {
    text-align: center;
    font-size: 13px;
    letter-spacing: .05em
}

body.template-side-by-side div.side-by-side-header aside em {
    font-style: italic
}

body.template-side-by-side div.side-by-side-header aside a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase
}

body.template-side-by-side div.side-by-side-header aside a:hover {
    color: #787367
}

body.template-side-by-side div.details .inner {
    margin: 0 auto;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width:767px) {
    body.template-side-by-side div.details .inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    body.template-side-by-side div.details .inner article,
    body.template-side-by-side div.details .inner figure {
        width: 100%
    }
}

@media (min-width:768px) {
    body.template-side-by-side div.details .inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
    body.template-side-by-side div.details .inner figure {
        width: 70%
    }
    body.template-side-by-side div.details .inner article {
        width: 30%
    }
}

body.template-side-by-side div.details .inner figure {
    position: relative
}

body.template-side-by-side div.details .inner figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear
}

body.template-side-by-side div.details .inner figure img:last-child {
    display: block;
    position: relative;
    opacity: 1
}

body.template-side-by-side div.details .inner figure img.active,
body.template-side-by-side div.details .inner figure img:target {
    display: block;
    position: relative;
    opacity: 1
}

body.template-side-by-side div.details .inner figure img.active~img,
body.template-side-by-side div.details .inner figure img:target~img {
    opacity: 0;
    -webkit-transition: opacity 0;
    -o-transition: opacity 0;
    transition: opacity 0;
    position: absolute;
    z-index: -1
}

body.template-side-by-side div.details .inner article {
    padding: 22px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    font-size: 13px
}

@media (min-width:768px) {
    body.template-side-by-side div.details .inner article {
        padding: 75px 22px 22px 22px;
        width: 310px
    }
}

body.template-side-by-side div.details .inner article a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    color: #a49f99;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    margin: 10px auto;
    display: block;
    font-size: 11px
}

body.template-side-by-side div.details .inner article a:hover {
    color: #787367
}

body.template-side-by-side div.details .inner article>div em {
    font-style: italic
}

body.template-side-by-side div.details .inner article>div>h3 {
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 700
}

body.template-side-by-side div.details .inner article>h2 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative
}

body.template-side-by-side div.details .inner article>h2:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 74px;
    height: 5px;
    left: 50%;
    margin-left: -37px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

body.template-side-by-side div.details .inner article>h2 a {
    color: #a49f99;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear
}

body.template-side-by-side div.details .inner article>h2 a:hover {
    color: #787367
}

body.template-side-by-side div.details .inner article>h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 30px;
    padding: 5px 0 17px 0;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.2em
}

body.template-side-by-side div.details .inner article>h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 73px;
    height: 5px;
    left: 50%;
    margin-left: -36.5px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

body.template-side-by-side article {
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    font-size: 18px;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 28px
}

body.template-side-by-side article p {
    margin-bottom: 15px
}

body.template-side-by-side article h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 44px;
    margin: 43px auto 24px auto;
    padding-bottom: 31px;
    position: relative;
    text-align: center
}

body.template-side-by-side article h1:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    -webkit-border-image: url("/assets/images/divider.svg");
    -o-border-image: url("/assets/images/divider.svg");
    border-image: url("/assets/images/divider.svg");
    border-image-slice: 0 8 fill;
    border-width: 0 5px;
    border-style: solid;
    border-color: black
}

body.template-side-by-side article aside {
    text-align: center;
    font-size: 13px;
    letter-spacing: .05em
}

body.template-side-by-side article aside em {
    font-style: italic
}

body.template-side-by-side article aside a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase
}

body.template-side-by-side article aside a:hover {
    color: #787367
}

article form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px
}

article form div {
    width: calc(50% - 10px);
    margin-bottom: 20px
}

article form div.alone {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (min-width:768px) {
    article form div.alone {
        padding-right: calc(50% + 10px)
    }
}

article form div.alone input {
    width: calc(50% - 5px)
}

article form div.alone input:first-of-type:last-of-type {
    width: 100%
}

article form div.full {
    width: 100%
}

article form div label {
    display: block;
    width: 100%;
    font-size: 16px
}

article form div input,
article form div textarea {
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%
}

article form div textarea {
    height: 150px
}

article form div span {
    font-size: 9px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em
}

article form div input[type=submit] {
    border: 1px solid #c52227;
    background-color: transparent;
    width: auto !important;
    text-transform: uppercase;
    font-size: 11px;
    color: #c52227;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
    padding: 3px 5px
}

body.page-faq h2+p {
    font-size: 15px;
    line-height: 1.3em
}

body.page-faq h2.toggle {
    cursor: pointer
}

body.page-faq h2.toggle+p {
    overflow: hidden;
    max-height: 0;
    border-bottom: 1px solid black;
    margin: 5px 0 10px 0
}

body.page-faq h2.toggle.is-active {
    color: #c52227
}

body.page-faq h2.toggle.is-active+p {
    max-height: none;
    padding-bottom: 10px
}

body.page-contact article p {
    text-align: center
}

body.page-about article {
    max-width: 720px
}

body.page-about article p {
    text-align: center
}

.retail-hours {
    margin: 5px auto
}

.retail-hours td {
    min-width: 90px
}

.retail-hours td:first-child {
    text-align: left;
    border-right: 1px solid black
}

.retail-hours td:last-child {
    text-align: right
}

/*# sourceMappingURL=bb.css.map */